In [3]:
words='letters'
letter_counts={letter: words.count(letter) for letter in words}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [5]:
a_set={number for number in range(1,6) if number%3==1}
a_set

{1, 4}

In [6]:
import sys

In [27]:
print('Welcome to','python',sep='**',end='!',file=sys.stdout)

Welcome to**python!

In [10]:
import os
print(os.getcwd())

C:\Users\장세환

In [16]:
os.chdir("E:/")

In [28]:
ff=open('E:/test1.txt','w')

In [29]:
print('file write',file=ff)

In [30]:
ff.close()

In [31]:
ff

In [32]:
print('{0} is {1}'.format('Apple','red'))

Apple is red

In [33]:
for i in range(1,6):
    print('{1}*{0}={2}'.format(i,i+1,(i+1)*i))

2*1=2
3*2=6
4*3=12
5*4=20
6*5=30

In [34]:
a=input('Insert any keys:')
print(a)

Insert any keys:1234
1234

In [35]:
x_num=input('enter a number:')
y_num=input('enter a number:')

enter a number:34
enter a number:57

In [40]:
print('The sum of',int(x_num),'and',int(y_num),'is',int(x_num)+int(y_num),'.',sep=' ')

The sum of 34 and 57 is 91 .

In [51]:
f=open('E:/test2.txt','wt')

In [52]:
f.write('Hi |n Good morning!')

19

In [53]:
f2=open('E:/test2.txt','r')

In [54]:
s=f2.read()
print(s)

In [55]:
'%s'%42# 문자열

'42'

In [57]:
'%x'%42 # 16진 정수

'2a'

In [58]:
'%o'%42 # 8진 정수

'52'

In [60]:
'%d%%'%103

'103%'

In [61]:
actor="Richard Gere"
cat="Chester"
weight=28
"My wife's favorite actor is %s"%actor

"My wife's favorite actor is Richard Gere"

In [62]:
"Our cat %s weight %s pounds" % (cat,weight) # 여러 항목은 튜플로

'Our cat Chester weight 28 pounds'

In [64]:
n=42
f=7.03
s='string cheese'

'%d %f %s' % (n,f,s)

'42 7.030000 string cheese'

In [65]:
'%10d %10f %10s' % (n, f, s) # 최소 10자 필드 오른쪽 정렬

'        42   7.030000 string cheese'

In [66]:
'%-10d %-10f %-10s' % (n, f, s) # 최소 10자의 필드, 왼쪽 정렬

'42         7.030000   string cheese'

In [ ]:
#83

In [67]:
 import re
source = 'Young Frankenstein'
m = re.split('n', source)

In [68]:
m

['You', 'g Fra', 'ke', 'stei', '']

In [69]:
m2 = re.sub('n', '?', source)
m2

'You?g Fra?ke?stei?'

In [70]:
name=input('Insert Your Name:')
ID=input("Insert Your  ID:")

print("Your name is",name,"and your student ID is",ID,sep=' ')

Insert Your Name:세환
Insert Your Name:1234
Your name is 세환 and your student ID is 1234

In [74]:
age=input("Insert Your age:")
a=int(age)
if a < 10:
    print("당신은 10대이하입니다")
elif a < 20:
    print("당신은 10대입니다")
elif a < 30:
    print("당신은 20대입니다")

Insert Your age:24
당신은 20대입니다

In [79]:
answer=[1,1]
for i in range(28):
    answer.append(answer[i]+answer[i+1])
answer[29]

832040

In [82]:

def csum(n):
    answer=0
    
    for i in range(n):
        answer+=i
        
    return answer
csum(5)

10